!!!
%html
  %head
    %title analyze tweets for fun & profit
    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  %body
    %h1 Analyze some Tweets
    %div{id: "content"}
      = yield

    <!-- Bootstrap -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ReactJS -->
    <script src="/js/JSXTransformer.js"></script>
    <script src="/js/react-with-addons.min.js"></script>
    <script src="/js/react.min.js"></script>
    <!-- CustomJS -->
    <script type="text/jsx" src="/js/app.js"></script>
