!!!
%html
  %head
    %title analyze tweets for fun & profit
    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  %body
    %h1 Analyze some Tweets
    %div{id: "content"}
      = yield

    <!-- Bootstrap -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
